body{
  font-family: "Lato";
  background-image: url("../background.png");
  background-repeat: repeat;
  font-size: 15.5px;
}

h1 {
    font-size:35px;
    color: #e0e0e0;
    margin: 0px;
    padding: 0px;
}

h2{
  margin-bottom: 10px;
  color: #e0e0e0;
}

#mainDiv h2{
  margin-bottom: 10px;
  color: #000;
}

#mainDiv h3{
  margin-bottom: 5px;
  margin-top: 10px;
  color: #000;
}

h3{
  margin-bottom: 5px;
  margin-top: 10px;
  color: #e0e0e0;
}

#age{
  margin-left: 15px;
}

.axis line{
  stroke: #e0e0e0;
}

.bubble{
  stroke: #000;
  stroke-width: 2;
}

.bubble:hover{
  stroke: #fff;
}

.axis text{
  fill: #e0e0e0;
  font-size: 14px;
  font-family: "Lato";
}

.axis path{
  stroke: #e0e0e0;
}

.cities{
  fill: transparent;
  font-family: "Lato";
  stroke-width: 1px;
  stroke: #e0e0e0;
}

.state-tooltip-title{
  font-size: 14px;
  font-weight: 700;
  font-family: "Lato";
  color: #e0e0e0;
  text-align: center;
}

.state-label-P{
  color: red;
  font-size: 12px;
}

.state-value-P{
  color: #e0e0e0;
  font-size: 10px;
  font-weight: normal;
}

.county-tooltip-title{
  font-size: 11px;
  font-weight: 700;
  color: #e0e0e0;
  text-align: center;
}

.county-label-P{
  color: red;
  font-size: 9px;
  font-weight: 700;
}

.county-value-P{
  color: #e0e0e0;
  font-size: 10px;
  font-weight: normal;
}

.d3-tip-cities {
  line-height: 1;
  font-weight: bold;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #e0e0e0;
  font-family: "Lato";
  border-radius: 2px;
  font-size: 10px;
  border-radius: 10px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
}

#year{
  margin-left: 15px;
  margin-top: 15px;
}

::selection {
  background: transparent; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: transparent; /* Gecko Browsers */
}

select:focus, button:focus{
    outline: none;
}

.button{
background-color: rgb(207,102,0);/*981e00;*/
border: none;
color: white;
margin-right: 15px;
width: 275px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius: 10px;
}

.button:hover {
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:active {
  -webkit-filter: saturate(2);
  filter: saturate(2);
}

.background {
  fill: none;
  pointer-events: fill;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.view {
    padding: 0.5em;

}

.zoom {
  fill: white;
}

#mainDiv{
  height: 100%;
  float: right;
  top: 49px!important ;
  position: relative;
  font-family: "Lato";
  overflow: hidden;
  /*border-left: 0px;
  margin-left: 0px;*/
  right: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

#selection{
	width: 300px;
  height: 100%;
	/*margin:auto;*/
	background: transparent;
  margin-bottom: 20px;
  margin-left: 20px;
}

#map{
  width: 72%;
  height: 80%;
  float: right;
}

#plots{
  width: 70%;
  height: 40%;
  float: left;
}

#category{
  width: 70%;
  height: 40%;
  float: left;
}

footer{
  position: fixed;
  background: #999;
  opacity: .5;
  left: 0;
  text-align: center;
  bottom: 0;
  height: 25px;
  width: 100%;
  overflow: hidden;
}

.state {
  fill: #aaa;
  stroke: #000;
  stroke-width: .5px;
}

.state .active {
  fill: #1E90FF;
  display:none;
}

#state-borders {
  fill: none;
  stroke: #000;
  stroke-width: .5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.county-boundary {
  fill: #808080;
  stroke: #000;
  stroke-width: .5px;
}

.state:hover
{
  fill: rgba(255, 255, 255, 0.25);
  opacity: .7;
}

.county-boundary:hover
{
  opacity: .7;
}
