body{
  font-family: "Lato";
  background-image: url("../background.png");
  background-repeat: repeat;
}

h1 {
    font-size:35px;
    color: #464646;
    margin: 0px;
    padding: 0px;
}

h2{
  margin-bottom: 10px;
}

h3{
  margin-bottom: 5px;
  margin-top: 10px;
}

#age{
  margin-left: 5px;
}

.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: #ccc;
  cursor: pointer;
}

.feature.active {
  fill: blue;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.view {
    padding: 0.5em;

}

.zoom {
  fill: white;
}

#mainDiv{
  margin-left: 0px;
  left: 0;
  background-color: rgba(192, 192, 192, 0.3);;
  float: left;
}

#selection{
	width: 300px;
  height: 100%;
	/*margin:auto;*/
	background: transparent;
  margin-bottom: 20px;
  margin-left: 20px;
  float: left;
}

#map{
  width: 72%;
  height: 80%;
  float: right;
}

#plots{
  width: 70%;
  height: 40%;
  float: left;
}

#category{
  width: 70%;
  height: 40%;
  float: left;
}

footer{
  position: fixed;
  background: #999;
  opacity: .5;
  left: 0;
  text-align: center;
  bottom: 0;
  height: 25px;
  width: 100%;
  overflow: hidden;
}
