h1 {
    font-family: "Arvo";
    font-size:35px;
    color: #464646;
    margin: 0px;
    padding: 0px;
}

.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: #ccc;
  cursor: pointer;
}

.feature.active {
  fill: blue;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.view {
    padding: 0.5em;

}

#mainDiv{
	width: 500px;
  height: 700px;
	margin:auto;
	background: transparent;
  float: left;
}

#selection{
	width:400px;
  height: 700px;
	/*margin:auto;*/
	background: transparent;
  margin-bottom:20px;
  margin-left: 20px;
  float: left;
}

#map{
  width:1300px;
  height: 800px;
  float: left;
}

#plots{
  width: 1600px;
  height: 500px;
  float: left;
}

#category{
  width: 1600px;
  height: 500px;
  float: left;
}
